.select {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    position: relative;
cursor: pointer;
}

.selectTitle {


}
.selectItem{
    text-align: center;
}
.selectItem:hover {
   background-color: #ecec13;
    border-radius: 3px;
}
.selectItem:first-child{
    margin-top: 30px;


}

